xfire-xmlbeans/src/test-schemas/anyschema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="qualified" elementFormDefault="qualified"
	targetNamespace="http://codehaus.org/xfire/xmlbeans">
	<xsd:element name="request">
		<xsd:complexType>
			<xsd:all>
				<xsd:element maxOccurs="1" minOccurs="1"
					name="sessionId" type="xsd:string" />
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="response">
		<xsd:complexType>
			<xsd:all>
				<xsd:element maxOccurs="1" minOccurs="1" name="form"
					type="xsd:anyType" />
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
