xfire-spring/src/main/org/codehaus/xfire/spring/service.xsd

<?xml version='1.0'?>
<!-- NOTE: this file is autogenerated by XBeans -->

<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'
  xmlns:xsd='http://www.w3.org/2001/XMLSchema'
  xmlns:tns='http://xfire.codehaus.org/config/1.0' targetNamespace='http://xfire.codehaus.org/config/1.0'>

  <!-- element for type: org.codehaus.xfire.spring.config.HandlerFactory -->
  <xs:element name='handler' type='tns:handler'/>
  <xs:complexType name='handler'>
    <xs:attribute name='before' type='xsd:string'/>
    <xs:sequence>
      <xs:element name='handlerClass' minOccurs='0' maxOccurs='1''/>
    </xs:sequence>
  </xs:complexType>


  <!-- element for type: org.codehaus.xfire.spring.config.ServiceBeanWrapper -->
  <xs:element name='service' type='tns:service'/>
  <xs:complexType name='service'>
    <xs:attribute name='bindingProvider' type='xsd:string'/>
    <xs:attribute name='scope' type='xsd:string'/>
    <xs:attribute name='style' type='xsd:string'/>
    <xs:attribute name='use' type='xsd:string'/>
    <xs:attribute name='name' type='xsd:string'/>
    <xs:attribute name='namespace' type='xsd:string'/>
    <xs:attribute name='beanName' type='xsd:string'/>
    <xs:sequence>
      <xs:element name='implementationClass' minOccurs='0' maxOccurs='1''/>
      <xs:element name='properties' minOccurs='0' maxOccurs='1''/>
      <xs:element name='soapVersion' minOccurs='0' maxOccurs='1''/>
      <xs:element name='serviceClass' minOccurs='0' maxOccurs='1''/>
      <xs:element name='applicationContext' minOccurs='0' maxOccurs='1''/>
      <xs:element name='service' minOccurs='0' maxOccurs='1''/>
      <xs:element name='serviceInterface' minOccurs='0' maxOccurs='1''/>
      <xs:element name='serviceFactory' minOccurs='0' maxOccurs='1''/>
      <xs:element name='faultHandlers' minOccurs='0' maxOccurs='1''/>
      <xs:element name='inHandlers' minOccurs='0' maxOccurs='1''/>
      <xs:element name='outHandlers' minOccurs='0' maxOccurs='1''/>
      <xs:element name='xfire' minOccurs='0' maxOccurs='1''/>
    </xs:sequence>
  </xs:complexType>


  <!-- element for type: org.codehaus.xfire.spring.config.ServicePropertyBean -->
  <xs:element name='sproperty' type='tns:sproperty'/>
  <xs:complexType name='sproperty'>
    <xs:attribute name='key' type='xsd:string'/>
    <xs:sequence>
      <xs:element name='value' minOccurs='0' maxOccurs='1''/>
    </xs:sequence>
  </xs:complexType>


  <!-- element for type: org.codehaus.xfire.spring.config.XFireBean -->
  <xs:element name='xfire' type='tns:xfire'/>
  <xs:complexType name='xfire'>
    <xs:sequence>
      <xs:element name='faultHandlers' minOccurs='0' maxOccurs='1''/>
      <xs:element name='inHandlers' minOccurs='0' maxOccurs='1''/>
      <xs:element name='outHandlers' minOccurs='0' maxOccurs='1''/>
      <xs:element name='services' minOccurs='0' maxOccurs='1''/>
      <xs:element name='applicationContext' minOccurs='0' maxOccurs='1''/>
    </xs:sequence>
  </xs:complexType>


</xs:schema
