xfire-sandbox/xfire-ws-security/src/test/org/codehaus/xfire/security/services.xsd

<?xml version='1.0'?>
<!-- NOTE: this file is autogenerated by XBeans -->

<xs:schema elementFormDefault='qualified'
           targetNamespace='http://xfire.codehaus.org/config/1.0'
           xmlns:xs='http://www.w3.org/2001/XMLSchema'
           xmlns:tns='http://xfire.codehaus.org/config/1.0'>

  <!-- element for type: org.codehaus.xfire.spring.config.EndpointBean -->
  <xs:element name='endpoint'>
    <xs:complexType>
      <xs:attribute name='name' type='xs:QName'/>
      <xs:attribute name='url' type='xs:string'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.codehaus.xfire.spring.config.HandlerFactory -->
  <xs:element name='handler'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='after' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='before' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name='after' type='xs:string'/>
      <xs:attribute name='before' type='xs:string'/>
      <xs:attribute name='handlerClass' type='xs:string'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.codehaus.xfire.spring.config.HandlerNameBean -->
  <xs:element name='handlerName'>
    <xs:complexType>
      <xs:attribute name='handler' type='xs:string'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.codehaus.xfire.spring.config.ServicePropertyBean -->
  <xs:element name='property'>
    <xs:complexType>
      <xs:attribute name='key' type='xs:string'/>
      <xs:attribute name='value' type='xs:string'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.codehaus.xfire.spring.config.SchemaBean -->
  <xs:element name='schema'>
    <xs:complexType>
      <xs:attribute name='location' type='xs:string'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.codehaus.xfire.spring.ServiceBean -->
  <xs:element name='service'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='applicationContext' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='bindings' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='faultHandlers' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='inHandlers' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='outHandlers' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='properties' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='schemas' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='serviceBean' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='serviceFactory' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='xfire' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name='applicationContext' type='xs:string'/>
      <xs:attribute name='createDefaultBindings' type='xs:boolean'/>
      <xs:attribute name='implementationClass' type='xs:string'/>
      <xs:attribute name='name' type='xs:string'/>
      <xs:attribute name='namespace' type='xs:string'/>
      <xs:attribute name='scope' type='xs:string'/>
      <xs:attribute name='serviceBean' type='xs:string'/>
      <xs:attribute name='serviceClass' type='xs:string'/>
      <xs:attribute name='serviceFactory' type='xs:string'/>
      <xs:attribute name='style' type='xs:string'/>
      <xs:attribute name='use' type='xs:string'/>
      <xs:attribute name='xfire' type='xs:string'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.codehaus.xfire.spring.config.Soap11BindingBean -->
  <xs:element name='soap11Binding'>
    <xs:complexType>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.codehaus.xfire.spring.config.Soap12BindingBean -->
  <xs:element name='soap12Binding'>
    <xs:complexType>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.codehaus.xfire.spring.config.XFireBean -->
  <xs:element name='xfire'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='applicationContext' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='faultHandlers' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='inHandlers' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='outHandlers' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='transports' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name='applicationContext' type='xs:string'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


</xs:schema>
